body {background-color: black;}
div {
  width: 950px;
  padding: 10px;
  margin: 5;
  background-color: #6c757d
}
h1   {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
}
h2   {
  color: white;
  font-family: "Lora",monospace,serif;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
}
h3   {
  color: white;
  font-family: "Lora",monospace,serif;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}
li   {
  color: rgb(178, 179, 181);
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: auto;
 
}
  p   {
  color: rgb(178, 179, 181);
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #5988ff;
  background-color: transparent;
  text-decoration: underline;
}
