body {background-color: #E5F4F5;}
h1   {
  color: #ED1C24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
}
h2   {
  color: #035597;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
  text-align: center;
}
h3   {
  color: white;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
}
li   {
  color: rgb(178, 179, 181);
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}
  p   {
  color: #3B97D3;
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  text-align: center;
  margin: auto;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
}
table  {
  color: #3B97D3;
  font-weight: 700;
  background: #E5F4F5; none repeat scroll 0 0;
  border: 2px solid #035597;
  border-radius: 5px;
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  width: 50%;
}
th, td {
  padding: 15px;
}
tr:nth-child(even) {background-color: #a2afb0;}
#toc_container {
    margin: auto;
    background: black none repeat scroll 0 0;
    border: 4px solid #6c757d;
    border-radius: 5px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
a:link {
  color: #ED1C24;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #5988ff;
  background-color: transparent;
  text-decoration: underline;
}
.roster {
  display: none;
}
