body {
	background-color: black;
}
h1   {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
}
h3   {
  color: white;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
}
  p   {
  color: rgb(178, 179, 181);
  max-width: 800px;
  font-family: "Open Sans",monospace,sans-serif;
  text-align: center;
  margin: auto;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
}
h2   {
  color: white;
  font-family: "Lora",monospace,serif;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 5px;
  background: #6c757d;
  padding: 20px;
  width: 200px;
  text-align: center;
  display: flex;
}
.menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #6c757d;
  border-radius: 5px;
  margin: 10px;
}
.empty {
	background-color: black;
}
a {
	color: white;
}
a:hover {
	color: blue;
}
