body {
  font-family: Arial;
  padding: 20px;
  background-color: #E7DFDD;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #1A2238;
  text-color: #9DAAF2;
}
.row {
  display: flex;
}
.leftcolumn {
  flex: left;
  width: 75%;
}
.rightcolumn {
  flex: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  background-color: #1A2238;
  text-color: #9DAAF2;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #1A2238;
  margin-top: 20px;
  text-color: #9DAAF2;
}
h2, h3 {
  color: #FF6A3D
}
h5 {
  color: #F4DB7D;
}
p {
color: #9DAAF2;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
a {
  color: #FF6A3D;
}
a:hover {
  color: #F4DB7D;
}
