body {
  font-family: Arial;
  padding: 20px;
  background-color: #0E0B16;
  text-color: #E7DFDD;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #A239CA;
  text-color: #E7DFDD;
}
.row {
  display: flex;
}
.leftcolumn {
  flex: left;
  width: 75%;
}
.rightcolumn {
  flex: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  background-color: #E7DFDD;
  text-color: #000000;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #4717F6;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
