body {
  background-color: #0E0B16;
}
.info {
  margin: auto;
  width: 80%;
  padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #0E0B16;
}
.topnav a {
  float: left;
  display: block;
  color: #E7DFDD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #A239CA;
  color: #E7DFDD;
}
.topnav a.active {
  background-color: #4717F6;
  color: #E7DFDD;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
h1 {
  display: block;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #E7DFDD;
  background-color: #A239CA;
  border-radius: 5px;
  }
h5 {
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #E7DFDD;
  }
