body {
  background-color: #4B4E6D;
  font-family: sans-serif;
  padding: 20px;
}
.menu {
  width: 80%;
  background-color: #CDF7F6;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
h1 {
  font-size: 40;
  margin-top: 0;
  margin-bottom; 15px;
}
h2 {
  font-size: 30px;
}
h1, h2, p {
  text-align: center;
  color: #000000;
}
a {
  color: #F15025;
}
hr {
  height: 2px;
  background-color: black;
  border-color: black;
}
