body {
  background-color: #4B4E6D;
  font-family: sans-serif;
  padding: 20px;
}
menu {
  width: 80%;
  background-color: #95A3B3;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
h1 {
  font-size: 40;
  margin-top: 0;
  margin-bottom; 15px;
}
