.topnav {
  overflow: hidden;
  background-color: #162b32;
}
.topnav a {
  float: left;
  display: block;
  color: 162b32;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
