.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #878C8F;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  background-color: #ff4838;
}

.sidenav a.active {
  background-color: #ff4838;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
  background-color: #162B32;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff
}

a {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: #ff4838;
}
